{
  "schema": "kungfu.kfx.manifest/v1",
  "name": "__EXT_KEY__",
  "version": "0.1.0",
  "kungfuConfig": {
    "key": "__EXT_KEY__",
    "name": "__EXT_NAME__",
    "config": {
      "view": {
        "title": "__EXT_NAME__",
        "capabilities": []
      }
    }
  }
}
